.root {
    width: 793px;
    height: 100px;
    position: relative;
}

.smallPokeBall {
    position: absolute;
    top: 1%;
    left: 20%;
}

.cloud {
    position: absolute;
    left: 32.31%;
    bottom: 39.22%;
}

.cloudBig {
    position: absolute;
    left: 69.86%;
    top: -3%;
}

.pokeBall {
    position: absolute;
    top: 24.38%;
    right: -12%;
}

.pikachu {

    position: absolute;
    top: 0%;
    left: 21.11%;

    img {
        width: 500px;
    }
}