@import '../../@scss/variables.scss';

.root {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  min-height: 600px;
}

.wrap {
  position: absolute;
  top: $content-padding-top;
  padding: 0 $app-margin;
}
