.tab {
  cursor: pointer;

  p {
    font-size: 25px;
    line-height: 29px;
  }

  &:not(:last-child) {
    margin-right: 70px;
  }

  &.active p {
    border-bottom: 3px solid #212121;
    padding-bottom: 16px;
  }
}
