* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Karla';
  src: url('./@fonts/Karla-Regular.ttf');
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Karla';
  color: #000000;
  font-style: normal;
  font-weight: normal;

}

#root{
  position: relative;
  height: 100vh;
  width: 100%;
}
