* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Karla';
  src: url('./@fonts/Karla-Regular.ttf');
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Karla';
  color: #000000;
  font-style: normal;
  font-weight: normal;
}
